<p id="notice"><%= notice %></p>

<h1>Listing Charities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Shortcode</th>
      <th>Shortdescription</th>
      <th>Longdescription</th>
      <th>Contactemail</th>
      <th>Contactphone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @charities.each do |charity| %>
      <tr>
        <td><%= charity.name %></td>
        <td><%= charity.shortCode %></td>
        <td><%= charity.shortDescription %></td>
        <td><%= charity.longDescription %></td>
        <td><%= charity.contactEmail %></td>
        <td><%= charity.contactPhone %></td>
        <td><%= link_to 'Show', charity %></td>
        <td><%= link_to 'Edit', edit_charity_path(charity) %></td>
        <td><%= link_to 'Destroy', charity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Charity', new_charity_path %>
