<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @charity.name %>
</p>

<p>
  <strong>Shortcode:</strong>
  <%= @charity.shortCode %>
</p>

<p>
  <strong>Shortdescription:</strong>
  <%= @charity.shortDescription %>
</p>

<p>
  <strong>Longdescription:</strong>
  <%= @charity.longDescription %>
</p>

<p>
  <strong>Contactemail:</strong>
  <%= @charity.contactEmail %>
</p>

<p>
  <strong>Contactphone:</strong>
  <%= @charity.contactPhone %>
</p>

<div  class="charity_offer_container">
  <br>
  <h2>Charity Offers</h2>
  <% @charity.charity_offers.each do |charity_offer| %>
      <tr>
        <p>
          <td>
            <strong>Short Code: </strong><%= charity_offer.shortCode %>
          </td>
        </p>
        <p>
          <td>
            <strong>Short Description: </strong><%= charity_offer.shortDescription %>
          </td>
        </p>
        <p>
          <td>
            <strong>Long Description</strong><%= charity_offer.longDescription %>
          </td>
        </p>
        <p>
          <td>
            <strong>Amount: </strong><%= charity_offer.amount %>
          </td>
        </p>
        <div class="nav_bar">
          <ul>
            <li><%= link_to 'Show', charity_offer %></li>
            <li><%= link_to 'Edit', edit_charity_offer_path(charity_offer) %></li>
            <li><%= link_to 'Destroy', charity_offer, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul
        </div>
      </tr>
      <p>_________________________________________________________________</p>
  <% end %>

<h2>Create new Charity Offer </h2>


</div>

<div class="nav_bar">
  <ul>
    <li><%= link_to 'New Charity offer', new_charity_offer_path %></li>
    <li><%= link_to 'Edit', edit_charity_path(@charity) %></li>
    <li><%= link_to 'Back', charities_path %></li>

  </ul>
</div>
