<p id="notice"><%= notice %></p>

<p>
  <strong>Individual:</strong>
  <%= @commitment.individual %>
</p>

<p>
  <strong>Charity offer:</strong>
  <%= @commitment.charity_offer %>
</p>

<p>
  <strong>Business counter offer:</strong>
  <%= @commitment.business_counter_offer %>
</p>

<p>
  <strong>Expecteddate:</strong>
  <%= @commitment.expectedDate %>
</p>

<p>
  <strong>Fulfilled:</strong>
  <%= @commitment.fulfilled %>
</p>

<p>
  <strong>Fulfilleddate:</strong>
  <%= @commitment.fulfilledDate %>
</p>

<%= link_to 'Edit', edit_commitment_path(@commitment) %> |
<%= link_to 'Back', commitments_path %>
