<%= form_for(@business_counter_offer) do |f| %>
  <% if @business_counter_offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_counter_offer.errors.count, "error") %> prohibited this business_counter_offer from being saved:</h2>

      <ul>
      <% @business_counter_offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.select(:business_id) do %>
        <% @businesses.each do |b| -%>
          <%= content_tag(:option, b.name, value: b.id) %>
        <% end %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :charity_offer_id %><br>
    <%= f.text_field :charity_offer_id %>
  </div>
  <div class="field">
    <%= f.label :shortCode %><br>
    <%= f.text_field :shortCode %>
  </div>
  <div class="field">
    <%= f.label :shortDescription %><br>
    <%= f.text_field :shortDescription %>
  </div>
  <div class="field">
    <%= f.label :longDescription %><br>
    <%= f.text_field :longDescription %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
